<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.singlelife.persistence.PlayMapper">
	<select id="selectPlay" resultType="play">
		select 	*
		from	sl_play
		<if test="start != null">
		limit	#{start},#{size}
		</if>
	</select>
	<select id="selectYoutube" resultType="play">
		select 	*
		from	sl_play
		where	category = 'YouTube'
		<if test="start != null">
		limit	#{start},#{size}
		</if>
	</select>
	<select id="selectGame" resultType="play">
		select 	*
		from	sl_play
		where	category = 'Game'
		<if test="start != null">
		limit	#{start},#{size}
		</if>
	</select>
	<select id="selectWebtoon" resultType="play">
		select 	*
		from	sl_play
		where	category = 'Webtoon'
		<if test="day != null">
		and		updateday like #{day}
		</if>
		<if test="origin != null">
		and		origin = #{origin}
		</if>
		<if test="start != null">
		limit	#{start},#{size}
		</if>
	</select>

</mapper>